body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: black;
    color: beige;
    font-weight: bold;
    padding: 8px;
}

li {
    margin: 8px;
}

p {
    margin: 8px;
}

img {
    display: block;
    margin: auto;
}

